[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]

requests = "*"
dash = "==0.18.3"
dash-renderer = "==0.10.0"
dash-html-components = "==0.7.0"
dash-core-components = "==0.12.6"
plotly = "*"
pandas = "*"


[dev-packages]
